#main
	%img{alt: "Logo", src: asset_path("aprendi_logo.png")}
#main_bottom
	%h2 Coming Soon
	%p
		Aquí encontrarás la manera más fácil de aprender a programar... Videos tutoriales, material de lectura. snippets y mucho más. Si quieres colaborar con este proyecto (o simplemente saludarme) escríbeme a <a href="mailto:hola@aprendiendocodigo.com">hola@aprendiendocodigo.com</a>