#main
	%img{alt: "Logo", src: asset_path("a_aprendi.png")}
#main_bottom
	%h2 Coming Soon
	%p
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in semper lectus, a tempor risus. Phasellus in fermentum neque, quis tincidunt purus. Integer egestas vitae elit at ullamcorper. Phasellus consectetur sollicitudin efficitur. Pellentesque at tincidunt nisi, in laoreet quam. Nunc eu maximus nibh. Maecenas in tempus ex. Mauris id egestas velit. Vivamus bibendum nibh a purus venenatis, sed laoreet nisi imperdiet. Pellentesque condimentum imperdiet ante semper auctor. Etiam commodo, mi ut egestas vehicula, dui enim cursus est, eget egestas augue sapien ut magna. 